{% extends "v4-base.html" %} {% block title %}Business Phone Lines and VoIP phone systems - bOnline{% endblock %} {% block description %}Save up to 30% with bOnline's cloud-based business phone system (VoIP). With over 40 features, its the perfect solution for any size business{% endblock %} {% block meta_tags %}
<meta name="robots" content="noindex,nofollow">{% endblock %} {% block page_id %}top5voip{% endblock %} {% block header %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand landing-brand" href="/">
            <svg width="148" height="32">
                <use xlink:href="/images/svg-sprite.svg?v={{version}}#svg-logo-img"></use>
            </svg>
        </a>
        <!-- TrustBox widget - Micro Combo -->
        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="4fa8fbc8000064000515212e" data-style-height="20px" data-style-width="100%" data-theme="light">
            <a href="https://uk.trustpilot.com/review/www.bonline.com" target="_blank">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
        <button type="button" class="btn cta-call-btn d-none d-lg-block"><a id="cta-quote" role="button" href="tel:02036950367">020 3695 0367</a></button>
    </div>
</nav>
{% endblock %} {% block content %}
<div class="section mt-0 telco-voip-bg telco-voip-header d-flex align-items-center">
    <div class="container-fluid">
        <div class="telco-voip-header-container text-center">
            <h1>UK's Most Loved VoIP Solution For Small Businesses</h1>
            <div class="row">
                <div class="d-flex col-md-4">
                    <i class="fa fa-check mr-2"></i>
                    <div>Unlimited UK & top international calls</div>
                </div>
                <div class="d-flex col-md-4">
                    <i class="fa fa-check mr-2"></i>
                    <div>Work anywhere at anytime</div>
                </div>
                <div class="d-flex col-md-4">
                    <i class="fa fa-check mr-2"></i>
                    <div>Conferencing, call recording, call menus & 40 extra features</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CLOUD PHONE SYSTEMS PRICING -->
<div class="section pricing-table-section bg-grey">
        <div class="container">
            <h3 class="text-center mb-3">Our 5-star Packages</h3>
            <div class="row d-flex">
                <div class="col-12 col-md-4 featured mb-3-mobile order-md-2">
                    <div class="price-col bg-white">
                        <h4>Cloud talk 1200<br class="d-none d-md-block d-lg-block d-xl-none"><br class="d-none d-md-none d-lg-block d-xl-none"></h4>
                        <h4 class="large-text mb-0">Now <small>£</small>13</h4>
                        <h5 class="line-through">Was £16</h5>
                        <p class="mb-0">No contract</p>
                        <button class="btn cta-get-started-btn mt-3" data-toggle="modal" data-target="#form-pop-up">
                            <a>Get in Touch</a>
                        </button>
                    </div>
                    <div class="collapse multi-collapse" id="cloud-talk-1200">
                        <div class="card card-block">
                            <ul class="mb-3">
                                <li><span><strong>1200 minutes<br>
                                UK landline and mobiles</strong></span></li>
                                <li><span>Full mobility<br>
                                laptop, tablet, mobile</span></li>
                                <li><span>Free domain<br>and 2 business mails</span></li>
                            </ul>
                            <h5 class="mb-1">Includes:</h5>
                            <p class="mb-0">+ Caller menus
                                <br> + Conference lines
                                <br> + All forwarding
                                <br> + Voicemail &amp; <a href="#" data-toggle="modal" data-target="#fortyPlus">40+ features</a></p>
                            <p class="mb-0 mt-3"><a href="#" data-toggle="modal" data-target="#intlSaver">INTL Saver 500</a> - 50 countries + £3.25</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3-mobile order-md-1">
                    <div class="price-col bg-white">
                        <h4>Cloud talk<br class="d-none d-md-block d-lg-block d-xl-none"><br class="d-none d-md-block d-lg-block d-xl-none"></h4>
                        <h4 class="large-text mb-0">Now <small>£</small>9</h4>
                        <h5 class="line-through">Was £12</h5>
                        <p class="mb-0">No contract</p>
                        <button data-toggle="modal" data-target="#form-pop-up" class="btn cta-get-started-btn mt-3">
                            <a>Get in Touch</a>
                        </button>
                    </div>
                    <div class="collapse multi-collapse" id="cloud-talk">
                        <div class="card card-block">
                            <ul class="mb-3">
                                <li><span><strong>100 minutes<br>
                                UK landline and mobiles</strong></span></li>
                                <li><span>Full mobility<br>
                                laptop, tablet, mobile</span></li>
                                <li><span>Free domain<br>and 2 business mails</span></li>
                            </ul>
                            <h5 class="mb-1">Includes:</h5>
                            <p class="mb-0">+ Caller menus
                                <br> + Conference lines
                                <br> + All forwarding
                                <br> + Voicemail &amp; <a href="#" data-toggle="modal" data-target="#fortyPlus">40+ features</a></p>
                            <p class="mb-0 mt-3"><a href="#" data-toggle="modal" data-target="#intlSaver">INTL Saver 500</a> - 50 countries + £8</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 order-md-3">
                    <div class="price-col bg-white">
                        <h4>Cloud talk unlimited</h4>
                        <h4 class="large-text mb-0">Now <small>£</small>16</h4>
                        <h5 class="line-through">Was £18</h5>
                        <p class="mb-0">No contract</p>
                        <button data-toggle="modal" data-target="#form-pop-up" class="btn cta-get-started-btn mt-3">
                            <a>Get in Touch</a>
                        </button>
                    </div>
                    <div class="collapse multi-collapse" id="cloud-talk-unlimited">
                        <div class="card card-block">
                            <ul class="mb-3">
                                <li><span><strong>Unlimited* minutes<br>
                                UK landline and mobiles</strong></span></li>
                                <li><span>Full mobility<br>
                                laptop, tablet, mobile</span></li>
                                <li><span>Free domain<br>and 2 business mails</span></li>
                            </ul>
                            <h5 class="mb-1">Includes:</h5>
                            <p class="mb-0">+ Caller menus
                                <br> + Conference lines
                                <br> + All forwarding
                                <br> + Voicemail &amp; <a href="#" data-toggle="modal" data-target="#fortyPlus">40+ features</a></p>
                            <p class="mb-0 mt-3"><a href="#" data-toggle="modal" data-target="#intlSaver">INTL Saver 500</a> - 50 countries + £3.25</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn expand-btn collapsed mt-3 mb-3-mobile" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="cloud-talk,cloud-talk-1200,cloud-talk-unlimited"></button>
                </div>
            </div>
        </div>
</div>
<div class="section section-5">
    <div id="benefits" class="container">
        <div class="row d-flex justify-content-around pb-5">
            <div class="col-12 col-md-4">
                <svg width="120" height="120">
                    <use xlink:href="/images/svg-sprite.svg?v=2.77#svg-initial-consult-icon"></use>
                </svg>
                <h4>1. Choose your plan</h4>
                <p class="mb-3-mobile">Chat to one of our expert advisors who will help you to make the right choice</p>
            </div>
            <div class="col-12 col-md-4">
                <svg width="120" height="120">
                    <use xlink:href="/images/svg-sprite.svg?v=2.77#svg-mobile-landlines-img"></use>
                </svg>
                <h4>2. Easy Setup</h4>
                <p class="mb-3-mobile">Download our bOnline VoIP app</p>
            </div>
            <div class="col-12 col-md-4">
                <svg width="120" height="120">
                    <use xlink:href="/images/svg-sprite.svg?v=2.77#svg-mobile-landlines-img"></use>
                </svg>
                <h4>3. Enjoy VoIP</h4>
                <p class="mb-0">Call, HD meetings plus more than 40 awesome features included.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <h5>Start Saving!</h5>
            <button class="btn cta-call-btn ml-4">000 0000 0000</button>
        </div>
    </div>
</div>
<div class="section section-2 cloud-header-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                <div>
                    <h3>Features</h3>
                    <ul class="mb-0">
                        <li><span>No Installation - 100% Cloud based no engineer visits or costly setup.</span></li>
                        <li><span>Keep your existing number - convert your current number to a cloud phone features.</span></li>
                        <li><span class="mb-0">Cheaper calls - Save 33% on local, national and international calls.</span></li>
                    </ul>
                    <button type="button" class="btn cta-call-btn d-md-none" data-toggle="modal" data-target="#image2-pop-up">
                        <a href="javascript:void(0);">View features</a>
                    </button>
                    <!-- Image pop up modal -->
                    <div class="modal fade" id="image2-pop-up" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="svg-container" style="max-width:376px;">
                                        <figure style="padding-bottom:140.16%;margin:1rem 0 0;">
                                            <svg>
                                                <use xlink:href="/images/svg-sprite.svg?v={{version}}#svg-mindmap-mobile-img"></use>
                                            </svg>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 d-none d-md-block">
                <div class="svg-container" style="max-width:961px;">
                    <figure style="padding-bottom:79.55%;">
                        <svg>
                            <use xlink:href="/images/svg-sprite.svg?v={{version}}#svg-mindmap-img"></use>
                        </svg>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section multiple-devices">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 text-center">
                <img src="//lh3.googleusercontent.com/UfNxdxuJW1XOaxsK9Prb-_7eG66iJaC2pfyQm4dvSV3VOJw8MqHM8SUrdVH_SgifqeKE0NUJY5VnMMyEbtZhGsAajMbu144=s0">
            </div>
            <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
                <h4 class="text-center blue mb-3-mobile">One number, multiple devices.<br>
            Access to all the features you need, even on the go!</h4>
            </div>
            <div class="col-12 col-md-4 text-center">
                <img src="//lh3.googleusercontent.com/IkysDH-bFFWEN3TeAkIfOs_ExfHc_GCoL7xzfVQEyQr2zeJqADyBSLyVMLxlbY_xbXxXhTWl9P1YePLRwpPpy6e629IcAwLVKM0=s0" style="max-width: 310px;">
            </div>
        </div>
    </div>
</div>
<div class="section trustpilot-section">
    <h3 class="text-center mb-1">We’re a partner you can count on</h3>
    <!-- TrustBox widget - Slider -->
    <div id="trustpilot-reviews">
        <reviews-list :review="tag='default'" :reviews="reviews" @changeTag="setTag"></reviews-list>
    </div>
    <!-- End TrustBox widget -->
</div>
<div class="section cta-call">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h2 class="mb-0">Need advice? Call <a href="tel:02036950367">020 3695 0367</a></h2>
                <h2 class="mb-0">or request a callback</h2>
            </div>
            <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center">
                <button type="button" class="btn cta-call-btn" data-toggle="modal" data-target="#form-pop-up"><a>Call me back</a></button>
            </div>
        </div>
    </div>
</div>
{% include 'intlsaver.html' %}
{% include 'intlsaver27.html' %}
{% include 'fortyplus.html' %}
<!-- Form pop up modal -->
<div class="modal fade" id="form-pop-up" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="mb-0">Call me back</h5>
                <p>Fill out your details to get a free quote</p>
                <div class="form">
                    <form name="consultrequest" action="/lpconsultrequest" method="post">
                        <div class="form-group">
                            <input class="form-control required" placeholder="Full name" name="name" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control required" placeholder="Phone number" name="telephone" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control required" placeholder="Work email" name="email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control required" placeholder="Call back time - eg: 4pm Today" name="time" type="text">
                        </div>
                        <p class="form-group form-check pl-1">
                            <label class="form-check-label">
                                I agree to receive information regarding bOnline products
                                <input class="form-check-input" type="checkbox" name="promo" value="Monthly promos">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                        <p class="form-group form-check pl-1">
                            <label class="form-check-label">
                                I accept the <a href="/terms-privacy#privacy" target="_blank">privacy policy</a> and <a href="/terms-privacy#website-terms" target="_blank">terms</a>
                                <input class="form-check-input required" type="checkbox" name="terms" value="terms"> <span class="checkmark"></span>
                            </label>
                        </p>
                        <input type="text" id="honeypot" name="honeypot" alt="If you are human, leave this field blank" value="">
                        <input type="hidden" id="gclid_field" name="gclid_field" value="">
                        <input type="hidden" id="source_field" name="source_field" value="">
                        <input type="hidden" name="variation" value="{% block variation4 %}top5voip{% endblock %}">
                        <input class="btn-submit" type="submit" value="Yes, please call me">
                        <h6 class="error-message d-none">Please fill in the required fields</h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %}
<footer>
    <div class="container">
        <div class="row mt-0">
            <div class="col-12">
                <div class="legal-text" id="legal-text-accordion">
                    <div class="card">
                        <div class="card-header" id="legal-text">
                            <h6 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#legal-text-collapse" aria-expanded="true" aria-controls="legal-text-collapse">
                        Here's the legal bit<span class="arrow"></span>
                        </button>
                    </h6>
                        </div>
                        <div id="legal-text-collapse" class="collapse" aria-labelledby="legal-text" data-parent="#legal-text-accordion">
                            <div class="card-body">
                                <p><small>* 01, 02, 03 & major mobile networks. Prices per minute, excluding VAT. Price comparison is for prices correct on 04/01/2019 with Vonage Ultimate Plan; BT Collaborate + Unlimited Plan, RingCentral Ultimate. Prices are exclusive of VAT at 20%. Min. contract applies, and admin fee will apply to terminate £50 per seat. 10p connection fee per call for calls made outside call plans. Same Fair Usage Policy applies, same as current bOnline Terms of Business. Activation fees may apply. An additional one-time charge of £9.95 for delivery, tracking, configuration and remote diagnostics if phone hardware is required.</small></p>
                                <p class="mb-0"><small>Now &pound;9/month</small><small class="line-through"><br>Was &pound;14</small></p>
                                <p class="mb-0"><small>24-month contract</small></p>
                                <p><small>12-month promotion<br>per seat excl VAT</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credit row">
            <div class="col-12">
                <p>&copy; {% now "Y" %} bOnline Limited, all rights reserved. Registered in England No. 7710947. VAT Reg. 121 4707 49. bOnline&reg; is a registered trademark of bOnline.</p>
                <div class="schema-footer-address footer-content" itemscope itemtype="//schema.org/Organization">
                    <span class="credit" itemprop="name">bOnline Ltd. </span>
                    <span class="credit" itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
            <span class="credit" itemprop="streetAddress">Studio 2.02 Canterbury Court 1 – 3 Brixton Road</span>
                    <span class="credit" itemprop="addressLocality">London </span>
                    <span class="credit" itemprop="postalCode">SW9 6DE</span>
                    </span>
                </div>
            </div>
        </div>
</footer>
{% endblock %} {% block tail_script %}
<script type="text/javascript" src="/js/cross-reference-table.js" async></script>
<!-- Email error and thank you message -->
<script>
emailFunction = function() {

    var emailaddress = document.getElementById("email-address").value;
    $('.cta-email-section .error-message').addClass('d-none');
    $('.email-get-started').removeClass('error');

    if (emailaddress != false) {
        sessionStorage.setItem("email-address", emailaddress);
        $('form[name="consultrequest"] input[name="email"]').val(emailaddress);
        $('#form-pop-up').modal('show');
    } else {
        $('.cta-email-section .error-message').removeClass('d-none');
        $('.email-get-started').addClass('error');
        return false;
    }
}

$(function() {

    var emailaddress = sessionStorage.getItem("email-address");
    if (emailaddress != false) {
        $('input[name="email"]').val(emailaddress);
    }

    $('form[name="consultrequest"] .btn-submit').click(function(event) {
        var form = $(this).parents('form[name="consultrequest"]');
        $(form).find('.error-message').addClass('d-none');
        $(form).children('.form-group').removeClass('error');
        $(form).children('.form-group').prop('style', '');
        var x = true;
        $(form).find('.required').each(function() {
            if ($(this).prop('type') === 'checkbox') {
                if (!$(this).prop('checked')) {
                    x = false;
                    $(this).closest('.form-group').addClass('error');
                }
            } else {
                if ($(this).val() == null) {
                    x = false;
                    $(this).closest('.form-group').addClass('error');
                } else if ($(this).val().length == 0) {
                    x = false;
                    $(this).closest('.form-group').addClass('error');
                }
            }
        });
        if (x == true) {
            $.ajax({
                type: "POST",
                url: $(form).attr('action'),
                data: $(form).serialize(),
                success: function() {
                    dataLayer.push({
                        'event': 'pageview',
                        'pageview': '/goals/consult-sent/'
                    });
                    $(form).parents('.modal-body').html("<div class='consult-message'></div>");
                    $('.consult-message').html('<h5>Thank you for your request</h5>')
                        .append('<p>One of our consultants will contact you shortly.</p>');
                    window.uetq = window.uetq || [];
                    window.uetq.push({ 'ec': 'Contact Form', 'ea': 'Fill in Form', 'el': 'Lead Generation Form', 'ev': 0 });
                }
            });
        } else {
            $(form).find('.error-message').removeClass('d-none');
        }
        event.preventDefault();
    });
});

function readCookie(name) {
    var n = name + "=";
    var cookie = document.cookie.split(';');
    for (var i = 0; i < cookie.length; i++) {
        var c = cookie[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1, c.length);
        }
        if (c.indexOf(n) == 0) {
            return c.substring(n.length, c.length);
        }
    }
    return null;
}

window.onload = function() {
    gclid_fields = document.getElementsByName('gclid_field');
    for (var i = 0; i < gclid_fields.length; i++) {
        gclid_fields[i].value = readCookie('gclid');
    }
    source_fields = document.getElementsByName('source_field');
    for (var i = 0; i < source_fields.length; i++) {
        source_fields[i].value = readCookie('source');
    }
}
</script>
<!-- Script to add automatic modal popup when linked to directly -->
<script>
$(document).ready(function() {
    if (window.location.hash == "#intlSaver27") {
        $('#intlSaver').modal('show');
    }
    if (window.location.hash == "#intlSaver") {
        $('#intlSaver').modal('show');
    }
    if (window.location.hash == "#fortyPlus") {
        $('#fortyPlus').modal('show');
    }
});
</script>
<!-- Bing -->
<script>
(function(w, d, t, r, u) {
    var f, n, i;
    w[u] = w[u] || [], f = function() {
        var o = {
            ti: "5140102"
        };
        o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
    }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() {
        var s = this.readyState;
        s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
    }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)
})(window, document, "script", "//bat.bing.com/bat.js", "uetq");
</script>
<!-- LinkedIn Tag -->
<script type="text/javascript">
_linkedin_data_partner_id = "225252";
</script>
<script type="text/javascript">
(function() {
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";
    b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);
})();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="
https://dc.ads.linkedin.com/collect/?pid=225252&fmt=gif" />
</noscript>
<!-- Google Plus -->
<script type="text/javascript">
(function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
})();
</script>
<!-- Facebook -->
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Natural intelligence -->
{% if reference %}
<script>
dataLayer.push({
    'customVarValue1': "{{ reference }}"
});
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1000946640;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1000946640/?guid=ON&amp;script=0" />
    </div>
</noscript>
{% endif %} {% endblock %} {% block freespee %}
<script type="text/javascript">
var __fs_conf = __fs_conf || [];
__fs_conf.push(['setAdv', { 'id': '9aaf8031-47c9-4528-8571-f9c6a2f40466' }]);
</script>
<script type="text/javascript" src="//analytics.freespee.com/js/external/fs.js"></script>
{% endblock %}