@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

.content{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 2px;
}

.content .title{
    font-weight: 300;
}

.content .time{
    font-size: 14px;
    margin-top: -4px;
    color: #aaa;
    font-weight: 600;
}

.content .mainContent{
    color: #aaa;
    font-size: 14px;
    width: 700px;
}

.hover:hover {
  background-color: rgba(99, 147, 235, 0.1);
  transition: all .3s;
  box-shadow: 0.1px 0.1px 5px 0.1px rgba(0,0,0,0.15);
}